<div class="row">
    <div class="col-md-3 pull-left" >
        <div class="list-group">
            <a href="/admin/adminDashboard" class="list-group-item active">
                View orders
            </a>
            <a href="/admin/addFood" class="list-group-item ">Add Food items</a>
            <a href="/admin/setAvailableFood" class="list-group-item ">Set today available food</a>
            <a href="/admin/myOrders" class="list-group-item">My orders</a>

        </div>
    </div>
    <div class="col-md-8">
        <div class="page-header">
            <h1>Customers Orders</h1>
            {{#each orders}}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <li class="list-group-item">
                            <strong>Customer Name:</strong>
                            {{ this.name}}
                        </li>
                        <li class="list-group-item">
                            <strong>Address:</strong>
                            {{ this.address}}
                        </li>
                        <ul class="list-group">
                            <div style="margin: 7px">
                                <strong>Items:</strong>
                            </div>

                            {{#each this.items}}
                                <li class="list-group-item">
                                    <span class="badge">{{ this.price }}</span>
                                    {{ this.item.name }} | {{ this.qty }}
                                </li>
                            {{/each}}
                        </ul>

                            <div class="container" style="margin-left: 80%">
                                <button type="button" class="btn btn-primary"><a id="linkBtn" href="/admin/sendCompletedMail/{{this.customer_id}}">Mark Finished</a></button>
                            </div>

                    </div>

                    <div class="panel-footer"><strong>Total Price:Rs.{{ this.cart.totalPrice }}/=</strong> <span class="pull-right"> <strong>Date:</strong> {{ this.date}}</span></div>
                </div>
            {{/each}}
        </div>

    </div>
</div>